a
{
    font-size:20pt;
    color:salmon;
}
a:hover
{
    color:slateblue;
    background-color:springgreen;
}
p.title
{
    font-size:36pt;
    color:salmon;
}
body
{
    background-color:turquoise;
}